<html>
    <head>
        <title>To Do List</title>
        <script src="https://code.jquery.com/jquery-3.6.0.js"
                integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
                crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/assets/styles.css" type="text/css">
        <!-- the above href address is going to work bocause of the middleware in app.js(static files) -->
        <!-- whenever we type any url and make a request its going to fire the middleware and 
        its gonna look for the file in public folder -->
    </head>
    <body>
        <div id="content">
                <p><%= lists.body %></p>
                <a class="delete" data-doc="<%= lists._id %>">Delete</a>
        </div>
        <script>
            const trashcan = document.querySelector('a.delete');

            trashcan.addEventListener('click', (e) => {
                const endpoint = `/lists/${trashcan.dataset.doc}`;

                fetch(endpoint, {
                    method: 'DELETE'
                })
                .then((response) => response.json())
                .then((data) => window.location.href = data.redirect)
                .catch(err => console.log(err));
            })
        </script>
    </body>
</html>